doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/postAdd.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    script(async src="/javascripts/detail.js") 
    title Document
  body 
    .main-container
      .main-list-wrap
        .title-box
          .title 제목 :
          input.title-input(type="text" placeholder="제목" value=data.title)
        .writer-box
          .writer 작성자 :
          input.writer-input(type="text" placeholder="작성자" value=data.writer)
        .content-box
          .content 내용
          textarea.content-input(type="text" placeholder="내용" readonly)=data.content
      button.add-button 수정
      button.remove-button 삭제