.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #77b7d9;
  width: 100%;
  height: 100vh;
  padding: 0px 180px;
  box-sizing: border-box;
}
.main-list-wrap {
  margin-top: 80px;
  width: 100%;
  min-height: 480px;
  background: #ffffff;
}

.title-bar {
  display: flex;
  width: 100%;
  height: 80px;
  background: #dddddd;
  border-bottom: 1px solid #4a6e81;
}
.post-item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 80px;
  background: lightskyblue;
  border-bottom: 1px solid #4a6e81;
}

.number {
  width: 304px;
}
.created-time,
.creater {
  width: 338px;
}
.title {
  width: 580px;
}

.number,
.created-time,
.creater,
.title {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-add-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 18px;
  margin-top: 40px;
  width: 80px;
  height: 40px;
  color: #999999;
  background: paleturquoise;
  border-radius: 12px;
}
